body{
  background-color: rgb(205, 205, 235);
  color: rgb(63, 73, 81);
  
}
.container{ 
 display: flex;
 align-items: center;
 justify-content: center;
}
.App {
  text-align: center;
 width: 80rem;
  height: 100%;
   border: 2px solid rgb(63, 73, 81);
   margin: 30px 20px;
   border-radius: 15px;
   padding: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#desc{
 
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: italic;
  color: aliceblue;
  color: rgb(63, 73, 81);
  text-align: justify center;
  width: 700px;
  margin: auto;
}
img{
  background-color: rgb(42, 30, 30);
  border-radius: 25px;
  /* width: 550px; */
  box-shadow: 1px 4px 5px rgb(60, 52, 52);
  transition: 0.3s;
}
img:hover{
  box-shadow:  1px 15px 10px rgb(42, 30, 30);
}
#name{
  font-weight: bolder;
}
